# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React
build/
dist/

# Environment files
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

# Logs
*.log
